*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
footer{
	width: 100%;
	/* border: 1px solid red; */
	margin: auto;
}
.search{
	width: 100%;
	/* border: 1px solid red; */
	margin: auto;
}
.search_auto{
	width: 700px;
	height: 100px;
	/* border: 1px solid red; */
	margin: auto;
}
.search_auto_p1{
	padding: 10px 10px;
	font-size: 12px ;
}
.search_auto_div{
	width: 660px;
	height: 50px;
	border-bottom:1px solid #d8d8d8;
	margin: 0px 10px;
	position: relative;
	
}
.search_auto_divIpt{
	width: 660px;
	height: 50px;
	border: 0;
	border-bottom:1px solid #d8d8d8;
	/* 点击input不显示边框 */
	outline:medium;
}
/* 修改 placeholder文字样式*/
.search_auto_divIpt::-webkit-input-placeholder {
    /* placeholder颜色 */
    color: #aab2bd;
    /* placeholder字体大小 */
    font-size: 22px;
}
.search_auto_divIpt:focus{
	
}
.search_auto_divImg{
	position: absolute;
	right: 10px;
	top: 10px;
}
.search_auto_p2{
	padding: 3px 10px;
	font-size: 12px ;
	color: #5f5f5f;
}
.search_auto_p2>a{
	color: #5f5f5f;
	cursor: pointer;
}
.footerDiv{
	width:100%;
	background-color:#F0f0f0;
	margin: auto;
}
.footerDiv_div{
	width: 1150px;
	height:300px;
	/* border: 1px solid red; */
	margin: auto;
}
.footerDiv_divs1{
	width: 1150px;
	height:260px;
	/* border: 1px solid red; */
	margin: auto;
	margin:15px 0px;
}
.footerDiv_divs1>div{
	display: inline;
}
.footerDiv_divs101{
	width: 400px;
	height: 100%;
	border: 1px solid #F0f0f0;
	float: left;
}
.footerDiv_divs102{
	width: 700px;
	height: 100%;
	/* border: 1px solid red; */
	float: right;
}
.footerDiv_divs101p1{
	padding: 10px 10px;
}
.footerDiv_divs101p2{
	padding: 0px 15px;
	font-size: 15px;
	font-weight: bold;
	color: #1D1D1D;
}
/* 邮箱 */
.emilDiv{
	width: 300px;
	height: 35px;
	border: 1px solid #D0D0D0;
	background-color: white;
	border-radius: 3px;
	margin: 20px 10px;
	position: relative;
}
.emi{
	display: inline-block;
	width: 100px;
	/* background-color: white; */
	font-size: 12px;
	position: absolute;
	top: -10px;
	left: 7px;
}
.emialIpt{
	width: 298px;
	height: 32px;
	border: 0;
	outline: none;
}
.dingyue{
	font-size: 12px;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
.footerDiv_divs101p3{
	font-weight: bold;
	padding:15px 12px;
	font-size: 15px;
}
.footerDiv_divs101p4{
	padding:0px 11px;
}
.xuanfu{
	position: relative;
}
.xuanfuImg{
	position: absolute;
	top: -15px;
	display: none;
}
.xuanfu:hover .xuanfuImg{
	display: block;
	left: 30px;
}
/* .footerDiv_divs102>div{
	display: inline;
	padding: 50px 10px;
	font-size: 13px;
	
} */
.footerDiv_divs102>div{
	display: inline;
	float: left;
	padding: 50px 33px;
	font-size: 13px;
	
}
dl>dd{
	padding: 5px 10px;
}
dl>dd a{
	color: #4f4f4f;
	text-decoration: none;
}

.footerDiv_divs2{
	width: 1000px;
	font-size: 12px;
	margin: auto;
}
.footerDiv_divs2 ul>li{
	display: inline-block;
	
}
.footerDiv_divs2 ul>li a{
	text-decoration: none;
	color:#7c7c7c;
}
.icon-footer-badge1 {
    background-position: -328px -109px;
    width: 14px;
    height: 13px;
}
.icon {
    display: inline-block;
    background-image: url(../images/icon.png);
}
.icon {
    font-style: normal!important;
    font-weight: 400;
}
i{
	vertical-align: middle;
}
.icon-footer-badge2 {
    background-position: -328px -109px;
    width: 14px;
    height: 13px;
}