@font-face {
    font-family: "iconfont";
    /* Project id  */
    src: url('iconfont.ttf?t=1625025171206') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.arr-r-icon:before {
    content: "\e601";
}

.arr-l-icon:before {
    content: "\e667";
}